@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 721px) {
    .container {
      display: none;
    }
    .unsupported-text {
        display: block;
        text-align: center;
        margin-top: 20px;
        font-size: 18px;
      }
  }